html, body
{
	min-height: 100%;
}

body
{
	background-color: var(--bs-secondary-bg);
}

.download-container
{
	background-color: var(--bs-body-bg);
}

.download-icon i
{
	font-size: 8vw;
}

.download-icon
{
}

.download-osname
{
	font-size: 1.1rem;
}

.download-item
{
	cursor: pointer;
	text-decoration: none;
	width: 50%
}

.download-item:hover
{
	cursor: pointer;
	text-decoration: none;
}

.download-osdesc
{
	color: var(--bs-secondary-color);
	font-size: 0.8rem;
}

.download-item:hover
{
	background-color: var(--bs-primary-bg-subtle);
}

.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {
	0%, 100% { transform: rotate(0); }
	20%, 60% { transform: rotate(-25deg); }
	40%, 80% { transform: rotate(10deg); }
}
