html, body
{
	height: 100%;
}

body
{
	background-color: var(--bs-secondary-bg);
}

.download-container
{
	background-color: var(--bs-body-bg);
}

.download-icon i
{
	font-size: 8vw;
}

.download-icon
{
}

.download-osname
{
	font-size: 1.1rem;
}

.download-item
{
	cursor: pointer;
	text-decoration: none;
	width: 50%
}

.download-item:hover
{
	cursor: pointer;
	text-decoration: none;
}

.download-osdesc
{
	color: var(--bs-secondary-color);
	font-size: 0.8rem;
}

.download-item:hover
{
	background-color: var(--bs-primary-bg-subtle);
}

.github-fork-ribbon.right-top:before
{
	background-color: var(--bs-success);
}
